.mySwiper {
  margin-top: 40px;
}
.mySwiper .swiper-slide-thumb-active div {
  color: var(--text_color);
}
.mySwiper .swiper-slide {
  padding-top: 30px;
  cursor: pointer;
  position: relative;
  /* border-top: 1px solid #80c8ff; */
}
.mySwiper .swiper-slide::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #80c8ff;
  border-radius: 50%;
  top: 4px;
  left: 0;
}
.mySwiper .swiper-slide-thumb-active::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background: #1a9dff;
  border: 4px solid #cce9ff;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.mySwiper .swiper-slide::before {
  position: absolute;
  content: "";
  background: #80c8ff;
  top: 7.5px;
  left: 0;
  height: 1px;
  width: 120%;
}
.product-swiper {
  overflow: hidden;
}
.product-carousel {
  position: relative;
}
.h-news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
}
.v-news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 32px;
}
.video-news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 30px;
  padding-bottom: 34px;
}
.news-images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 34px;
}
.home-carousel {
  max-width: 1071px;
  margin-bottom: 76px;
}
.ant-carousel .slick-dots {
  height: auto;
}
.ant-carousel .slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
  max-width: 80%;
}
.ant-carousel .slick-thumb {
  bottom: -45px;
}
.ant-carousel .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel .slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.home-page {
  padding-bottom: 20px;
}
.home-page-right-title {
  padding: 10px 32px;
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 170%;
  text-transform: capitalize;
  background: #0192ff;
  border-radius: 8px;
  color: #ffffff;
}
.home-page-left {
  padding-right: 30px !important;
}
.home-page-right-drop h5 {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 170%;
  text-transform: capitalize;
  color: #0192ff;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;

  /* flex-direction: column; */
}
.home-page-right-drop h5 span svg,
.home-page-right-drop-mobile h5 span svg {
  transition: 0.2s;
}
.home-page-right-drop {
  border: 1px solid var(--right_drop_border);
  border-radius: 8px;
  margin-top: 13px;
  background: var(--right_drop);
  padding: 11px 22px;
  max-height: 52px;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}
.home-page-right-drop-mobile {
  transition: max-height 0.4s ease-out;
}
.home-page-right-drop-board {
  margin-top: 16px;
  padding-top: 5px;
  /* border-top: 1px solid #eeeeee; */
}
.home-page-right-drop-board ul li {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--right_drop_text);
  padding: 14px 28px;
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
}
.home-page-right-drop span svg path {
  fill: #0192ff;
}
.home-page-right-drop-board ul li:hover {
  color: #0192ff;
  background: rgba(1, 146, 255, 0.2);
}
/* .carousel-dot-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 21px;
  } */
.carousel-dot-items div {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #a0a0a0;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
}

.block1 {
  margin-bottom: 40px;
}
.right-banner {
  width: 100%;
  height: 447px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}
.right-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}
.news-breadcrumb a {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--breadcrumb_text);
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.news-breadcrumb a span {
  transform: rotate(-90deg);
  margin-right: 13px;
  margin-left: 13px;
}
.news-breadcrumb a:last-child {
  color: var(--breadcrumb_link);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: unset;
}
.news-breadcrumb a:last-child span {
  display: none;
}
.news-breadcrumb a span svg path {
  fill: #a0a0a0;
}
@media screen and (max-width: 1024px) {
  .hidden {
    display: block;
  }
  .clear {
    display: none;
  }
  /* .thumbs {
    display: none;
  } */

  .home-carousel {
    margin-bottom: 43px;
    padding-top: 10px;
  }
  .h-news-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    padding-bottom: 30px;
    gap: 0;
    width: 100%;
    grid-gap: 20px;
  }
  .home-page-left {
    padding: 0 !important;
  }
  .row {
    margin: 0 !important;
  }

  /* .h-news-card-img {
    min-width: 94px;
    height: 107px;
    border-radius: 4px;
    overflow: hidden;
  } */

  .h-news-card-info > span {
    font-size: 10px;
    display: flex;
  }
  .h-news-card-info {
    justify-content: flex-end;
    gap: 12px;
  }

  .v-news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .v-news-card-img {
    width: 100%;
    height: 188px;
    border-radius: 4px;
    overflow: hidden;
  }

  .v-news-card-info > span {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .v-news-card-info {
    align-items: center;
    gap: 12px;
  }
  .home-page-right-title {
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
  }
  .home-page-right-drop {
    padding: 12px 16px;
  }
  .home-page-right-drop h5 {
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
  }
  .block1 {
    margin-bottom: 16px;
  }
  .right-banner {
    height: 480px;
  }
  /* .swiper-banner-right {
    width: 100% !important;
  } */
  .right-news-list {
    margin: 24px 0;
  }
  .right-news-text::after {
    background: #0192ff;
  }
  .right-news-text a {
    font-size: 14px;
  }
  .hidden {
    margin-bottom: 34px;
  }
  .video-news-grid,
  .news-images-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .video-news-card {
    padding: 12px 10px;
    gap: 12px;
    border-radius: 6px;
    border: none;
    background: var(--card_bg, #f9f9f9);
  }

  .video-news-card-body a {
    font-size: 14px;
  }
  .video-news-card-info > span,
  .news-images-card-info > span {
    margin: 0;
  }
  .video-news-card-info,
  .news-images-card-info {
    justify-content: flex-end;
    gap: 12px;
  }
  .news-images-card-body {
    margin-top: 12px;
  }
  .news-images-card-body p {
    font-size: 14px;
  }
  .home-page {
    padding-bottom: 20px;
  }
  /* .footer-logo {
    display: flex;
    justify-content: center;
  } */
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
    /* text-align: center; */
  }
  .footer-info h6 {
    font-size: 12px;
  }
  .footer-info p {
    font-size: 12;
    padding-top: 0;
  }
  .footer-menu {
    width: 100%;
    row-gap: 16px;
    column-gap: 32px;
  }
  .footer-menu ul li a,
  .footer-menu ul li {
    font-size: 14px;
    text-align: center;
  }

  /* .footer-bottom {
    color: #888;
    text-align: center;
    font-size: 12px;
    line-height: 130%;
  } */

  .news-breadcrumb a {
    font-size: 12px;
    line-height: 150%;
  }
  .news-breadcrumb a:last-child {
    white-space: nowrap;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    display: unset;
  }
  .news-breadcrumb a span {
    margin-left: 8px;
    margin-right: 8px;
  }
  /* .footer-menu ul {
    display: none;
  } */
  /* .footer-menu ul:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 16px;
  } */
}
@media (max-width: 768px) {
  .v-news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 576px) {
  .h-news-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    gap: 0;
    width: 100%;
    grid-gap: 20px;
  }
}
@media (max-width: 421px) {
  .video-news-grid,
  .news-images-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
