.news-menu-page-header {
  padding-bottom: 16px;
}

.news-menu-page-header h5 {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: var(--text_color);
  /* margin-bottom: 20px; */
}
@media (max-width: 576px) {
  .news-menu-page-header h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
  }
}
