@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800&family=Roboto+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Serif:ital,wght@0,200;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  background: var(--body_color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
:root {
  --ROBOTO_SERIF: "Roboto Serif", serif;
  --text_color: #000000;
  --text_color_nav: #000000;
  --body_color: #ffffff;
  --header_bg: #f9f9f9;
  --card_bg: #f9f9f9;
  --sub_title: #111111;
  --right_drop_border: #eeeeee;
  --right_drop: #f9f9f9;
  --right_drop_text: #292929;
  --header_btns_bg: #ffffff;
  --header_btns_border: #e6e8f0;
  --header_btns_svg: #6974a5;
  --right_show_more_bg: #e6f4ff;
  --right_show_more_border: transparent;
  --tg_card_text_color: #414141;
  --tg_card_btn_bg: #e6f4ff;
  --tg_card_btn_color: #0192ff;
  --cards_border_bt: #eeeeee;
  --title_border_bt: #e7e7e7;
  --card_badges_bg: #eeeeee;
  --card_badges_color: #111111;
  --footer_bg: transparent;
  --footer_border_top: #eeeeee;
  --footer_subtitle: #292929;
  --footer_messangers: #9ba2c3;
  --breadcrumb_text: #6974a5;
  --breadcrumb_link: #051769;
  --news_container_br: #e7e7e7;
  --news_container_link: #707070;
  --news_date: #888888;
  --comment_input_bg: #ffffff;
  --comment_star: #e8e8e8;
  --tab_btn: #1e2e78;
  --active_tab_bg: #f2f3f7;
  --active_tab_color: #051769;
  --book_text: #414141;
  --journalist_btn: #505d96;
}
.dark-theme {
  --text_color: #ffffff;
  --body_color: #000000;
  --text_color_nav: #f9f9f9;
  --header_bg: #111111;
  --card_bg: #292929;
  --sub_title: #f9f9f9;
  --right_drop_border: #292929;
  --right_drop: #000000;
  --header_btns_bg: #111111;
  --header_btns_border: #292929;
  --header_btns_svg: #888888;
  --right_drop_text: #ffffff;
  --right_show_more_bg: #000d17;
  --right_show_more_border: #0192ff;
  --tg_card_text_color: #f9f9f9;
  --tg_card_btn_bg: #0192ff;
  --tg_card_btn_color: #ffffff;
  --title_border_bt: #111111;
  --card_badges_bg: #0192ff;
  --card_badges_color: #e6f4ff;
  --footer_bg: #111111;
  --footer_border_top: transparent;
  --footer_subtitle: #e7e7e7;
  --footer_messangers: #ffffff;
  --breadcrumb_text: #e7e7e7;
  --breadcrumb_link: #34a8ff;
  --news_container_br: #414141;
  --news_container_link: #b8b8b8;
  --news_date: #f9f9f9;
  --comment_input_bg: #414141;
  --comment_star: #414141;
  --tab_btn: #e6e8f0;
  --active_tab_bg: #292929;
  --active_tab_color: #ffffff;
  --book_text: #cfcfcf;
}
.ant-modal-body {
  background: var(--header_bg);
}
.container_xl {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 1470px) {
  .container_xl {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container_xl {
    max-width: 1440px;
  }
}
.vmodal-container {
  background: var(--body_color);
}
ul {
  margin-bottom: 0 !important;
  list-style: none;
}
.rotate180 svg {
  transform: rotate(180deg);
}
.right-news-list {
  margin-top: 33px;
  margin-bottom: 33px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

.right-show-more-primary,
.right-show-more,
.show-more-count {
  background: var(--right_show_more_bg);
  border-radius: 4px;
  padding: 10px 0;
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 45px;
  line-height: 150%;
  text-align: center;
  color: #0192ff;
  display: flex;
  justify-content: center;
  border: 1px solid var(--right_show_more_border);
  cursor: pointer;
}
.right-show-more-primary {
  background: #0192ff;
  color: #fff;
}
.show-more-count {
  display: inline-flex;
  padding-left: 55px;
  padding-right: 55px;
}
.dropdown-board {
  background: #ffffff;
  border-radius: 10px;
  padding: 16px 8px;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  grid-gap: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
  top: 100%;
  z-index: 10;
}
.dropdown-board a {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  white-space: nowrap;
  padding: 11px 18px;
  display: flex;
  width: 100%;
  transition: 0.3s;
  border-radius: 5px;
}
.dropdown-board a:hover {
  color: #000000;
  background: rgba(0, 0, 0, 0.08);
}
.ant-modal-footer {
  display: none;
}

.form-item label::after,
.form-item label::before {
  display: none;
}
.form-item label {
  font-family: var(--ROBOTO_SERIF);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: #888888;
  margin-bottom: 4px !important;
}
.form-item {
  position: relative;
}
.form-item input {
  background: #f9f9f9;
  border-radius: 4px;
  padding: 14px 16px;
  font-family: var(--ROBOTO_SERIF);
  height: auto !important;
  max-height: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  border: none;
}
.form-item input:focus-visible {
  outline: none;
}
.form-item .ant-form-item-children {
  display: flex;
  align-items: center;
}
.form-item .ant-form-item-label {
  line-height: 0 !important;
}
.ant-modal-content {
  border-radius: 16px !important;
  overflow: hidden !important;
}
.search-modal .ant-modal-content {
  border-radius: 8px !important;
  overflow: hidden !important;
}
.messangers-container {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.messangers-container h5 {
  color: #0192ff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.follow-us-message {
  margin-top: 26px;
  background: linear-gradient(89.71deg, #d96062 3.28%, #563590 101.88%);
  border-radius: 8px;
  padding: 15px 0;
  width: 216px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.115em;
  color: #ffffff;
}
.follow-us-message::after {
  position: absolute;
  content: "";
  background: linear-gradient(89.71deg, #d96062 3.28%, #563590 101.88%);
  width: 16px;
  height: 16px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  bottom: -16px;
}
.messanger-icons {
  border: 1px solid #9ba2c3;
  border-radius: 1111px;
  padding: 20px;
  margin-top: 40px;
}
.messanger-icons a {
  margin-right: 30px;
}
.messanger-icons a:last-child {
  margin-right: 0;
}
.disabled {
  pointer-events: none;
}
.btn_container {
  position: relative;
  width: 191px;
  overflow: hidden;
  transition: 0.3s;
  height: 45px;
  border-radius: 4px;
  /* background: var(--light-bue-100, #0192ff); */
}
.btn_container_show_more {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  height: 46px;
  border-radius: 4px;
  /* background: var(--light-bue-100, #0192ff); */
}
.btn_container > div,
.btn_container_show_more > div {
  /* position: absolute; */
  transition: all 0.5s;
}
.btn_container > div:first-child,
.btn_container_show_more > div:first-child {
  transform: translateY(0);
  transition: 0.3s;
}

.btn_container > div:nth-child(2),
.btn_container_show_more > div:nth-child(2) {
  transform: translateY(0);
  transition: 0.3s;
}
.btn_container:hover div:nth-child(2),
.btn_container_show_more:hover div:nth-child(2) {
  transform: translateY(-45px);
}
.btn_container:hover div:first-child,
.btn_container_show_more:hover div:first-child {
  transform: translateY(-45px);
}
.ant-rate-star-zero i {
  color: var(--comment_star);
}
